<div class="shadow-md rounded-lg p-2  bg-[#f6f6f6]">
  @if(!hasBeenTouched){
  <input
    [(ngModel)]="content"
    #myInput="ngModel"
    (focus)="markTouched()"
    type="text"
    placeholder="Add a note about Milton Romaguera..."
    class="w-full h-[42px] resize-none border-2 placeholder:font-medium border-gray-300 rounded-sm p-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
  />} @else{

  <textarea
    [(ngModel)]="content"
    placeholder="Add a note about Milton Romaguera..."
    class="w-full resize-none border-2 border-[#55c9b5] rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-[#55c9b5]"
    rows="2"
  ></textarea>
  <div class="flex justify-between items-center mt-1">
    <div class="flex space-x-2">
      @for(button of activityService.buttons;track button){
      <button
        class="w-7 h-7 bg-white rounded-full shadow-sm hover:bg-gray-200 transition"
        [ngClass]="{ '!bg-[#00c6ee]': button.title === type }"
        (click)="setType(button.title)"
        title="Message"
      >
        <fa-icon
          class="text-gray-400"
          [ngClass]="{ '!text-white': button.title === type }"
          [icon]="button.icon"
          size="xs"
        ></fa-icon>
      </button>
      }
    </div>
    <button
      (click)="submitNote()"
      class="bg-[#55c9b5] text-white px-2 py-1 rounded-sm shadow-sm hover:bg-[#55c9b5] transition"
    >
      Submit
    </button>
  </div>
  }
</div>
